.image-link {
  text-decoration: none;
}

.md-about {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}

.md-img {
  height: 200px;
  float: left;
  margin: 0 40px 0 0;
}
.moby-header {
  text-align: center;
  margin: 0 0 80px;
}
.nav-home {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu {
  text-align: right;
  text-decoration: none;
  background-color: #789494;
  padding: 25px;

}

.nav-spacing {
  color: #ffffff;
  margin: 0 0 0 10px;
  text-decoration: none;
}
